{% extends 'base.html' %}

{% block title %}My Wortschatz{% endblock %}

{% block content %}

<style>
    .word-list-container {
        max-width: 600px;
        margin: 2rem auto;
    }
</style>

{% include 'word_details_style.html' %}

<h1>Meine Wörter</h1>
<div id="word-list" class="row word-list-container"></div>
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#" id="prev-page">« Zurück</a></li>
        <li class="page-item"><span class="page-link" id="current-page">Seite 1</span></li>
        <li class="page-item"><a class="page-link" href="#" id="next-page">Weiter »</a></li>
    </ul>
</nav>

{% include 'word_details.html' %}

{% verbatim %}
<script>
    let currentPage = 1;

    function loadWords(page = 1) {

        function createCardHTML(template, word) {

            function addDefinition(card, definition) {
                card.querySelector("#definition-placeholder").innerText = definition;
            }

            function addGenus(card, genus_id) {
                function getGenusNameById(id) {
                    switch (id) {
                        case 1: return "der";
                        case 2: return "die";
                        case 3: return "das";
                        case 4: return "die";
                        default: return null;
                    }
                }

                const genus_span = card.querySelector("#genus-placeholder")
                const genus_name = getGenusNameById(genus_id)
                if (genus_name !== null) {
                    genus_span.innerText = genus_span.innerText = genus_name;
                    genus_span.classList.toggle('d-none');
                }
            }

            function addCategories(card, categories) {
                const categories_placeholder = card.querySelector("#categories-placeholder");
                categories.forEach(category => {
                    const category_span = document.createElement("span");
                    category_span.classList.add("badge");
                    category_span.classList.add("bg-success");
                    category_span.innerText = `#${category.name}`;
                    categories_placeholder.appendChild(category_span);
                })
            }

            function addTranslations(card, translations, word_id) {

                function addMoreTranslationsButtonListener(card, word_id) {
                    const makeListener = (placeholder_id) => {
                        return function (event) {
                            const extraTranslations = document.getElementById(placeholder_id);
                            extraTranslations.classList.toggle("d-none");
                            this.textContent = extraTranslations.classList.contains("d-none") ?
                                "Weitere Übersetzungen" : "Weniger Übersetzungen";
                        }
                    }
                    const translations_placeholder = card.querySelector("#extra-translations-placeholder");
                    translations_placeholder.id = `${translations_placeholder.id}-${word_id}`;

                    const more_translations_button = card.querySelector("#more-translations-button")
                        .addEventListener('click', makeListener(translations_placeholder.id));
                }

                function createTranslationSpan(translation) {
                    const translation_span = document.createElement("span");
                    translation_span.classList.add("badge");
                    translation_span.classList.add("bg-light");
                    translation_span.classList.add("text-dark");
                    translation_span.innerText = translation;
                    return translation_span;
                }

                const main_translations_placeholder = card.querySelector("#main-translations-placeholder");
                const extra_translations_placeholder = card.querySelector("#extra-translations-placeholder");
                const more_button_div = card.querySelector(".more-button");

                if (translations.length > 0) {
                    for (let i = 0; i < translations.length && i < 3; i++) {
                        main_translations_placeholder.appendChild(createTranslationSpan(translations[i]));
                    }

                    if (translations.length > 3) {
                        for (let i = 4; i < translations.length; i++) {
                            extra_translations_placeholder.appendChild(createTranslationSpan(translations[i]));
                        }

                        more_button_div.classList.toggle("d-none");
                        addMoreTranslationsButtonListener(card, word_id);
                    }
                }
                else {
                    main_translations_placeholder.classList.toggle("d-none");
                    extra_translations_placeholder.classList.toggle("d-none");
                }
            }

            function addOtherForms(card, other_forms) {
                function createOtherFormRow(other_form) {
                    const tr = document.createElement("tr");
                    const name_td = document.createElement("td");
                    const definition_td = document.createElement("td");

                    name_td.innerText = other_form[0];
                    definition_td.innerText = other_form[1];
                    tr.appendChild(name_td);
                    tr.appendChild(definition_td);

                    return tr;
                }

                if (other_forms.length > 0) {
                    const table_body = card.querySelector("#other-forms-table-body");
                    const th_name = document.createElement("th");
                    const th_definition = document.createElement("th");

                    th_name.innerText = "Name";
                    th_definition.innerText = "Definition";

                    table_body.appendChild(th_name);
                    table_body.appendChild(th_definition);

                    other_forms.forEach(other_form => {
                        table_body.appendChild(createOtherFormRow(other_form));
                    })
                }
                else {
                    const placeholder = card.querySelector("#other-forms-placeholder");
                    placeholder.classList.toggle("d-none");
                }
            }

            function addPrepositionsAndCasesWithTranslations(card, prepositions_and_cases_with_translations) {
                function createPrepositionAndCaseWithTranslationRow(preposition_and_case_with_translation) {
                    const tr = document.createElement("tr");
                    const preposition_td = document.createElement("td");
                    const case_td = document.createElement("td");
                    const translation_td = document.createElement("td");

                    preposition_td.innerText = preposition_and_case_with_translation[0];
                    case_td.innerText = preposition_and_case_with_translation[1];
                    translation_td.innerText = preposition_and_case_with_translation[2];
                    tr.appendChild(preposition_td);
                    tr.appendChild(case_td);
                    tr.appendChild(translation_td);

                    return tr;
                }

                if (prepositions_and_cases_with_translations.length > 0) {
                    const table_body = card.querySelector("#prepositions-and-cases-table-body");
                    const th_preposition = document.createElement("th");
                    const th_case = document.createElement("th");
                    const th_translation = document.createElement("th");

                    th_preposition.innerText = "Präposition";
                    th_case.innerText = "Fall";
                    th_translation.innerText = "Übersetzung";

                    table_body.appendChild(th_preposition);
                    table_body.appendChild(th_case);
                    table_body.appendChild(th_translation);

                    prepositions_and_cases_with_translations.forEach(preposition_and_case_with_translation => {
                        table_body.appendChild(createPrepositionAndCaseWithTranslationRow(preposition_and_case_with_translation));
                    })
                }
                else {
                    const placeholder = card.querySelector("#prepositions-and-cases-placeholder");
                    placeholder.classList.toggle("d-none");
                }
            }

            const card = template.content.cloneNode(true);
            addDefinition(card, word.definition);
            addGenus(card, word.genus_id);
            addCategories(card, word.categories_details);
            addTranslations(card, word.translations, word.id);
            addOtherForms(card, word.other_forms);
            addPrepositionsAndCasesWithTranslations(card, word.prepositions_and_cases_with_translations);
            return card;
        }

        const jwtToken = localStorage.getItem("access");
        fetch(`/api/words/?page=${page}`, {
            method: "GET",
            headers: {
                "Authorization": "Bearer " + jwtToken
            }
        })
            .then(response => response.json())
            .then(data => {
                const wordList = document.getElementById("word-list");
                wordList.innerHTML = "";

                data.results.forEach(word => {
                    const template = document.getElementById("word-template");
                    const card = createCardHTML(template, word);
                    wordList.appendChild(card);
                });

                currentPage = page;
                document.getElementById("current-page").innerText = `Seite ${currentPage}`;

                document.getElementById("prev-page").parentElement.style.display = data.previous ? "block" : "none";
                document.getElementById("next-page").parentElement.style.display = data.next ? "block" : "none";
            })
            .catch(error => console.error("Fehler beim Laden der Wörter:", error));
    }

    function editWord(wordId) {
        alert("Bearbeiten von Wort " + wordId + " ist noch nicht implementiert.");
    }

    function deleteWord(wordId) {
        const jwtToken = localStorage.getItem("access");
        fetch(`/api/words/${wordId}/`, {
            method: "DELETE",
            headers: {
                "Authorization": "Bearer " + jwtToken
            }
        })
            .then(response => {
                if (response.ok) {
                    loadWords(currentPage);
                }
            })
            .catch(error => console.error("Fehler beim Löschen des Wortes:", error));
    }

    document.getElementById("prev-page").addEventListener("click", function (event) {
        event.preventDefault();
        if (currentPage > 1) {
            loadWords(currentPage - 1);
        }
    });

    document.getElementById("next-page").addEventListener("click", function (event) {
        event.preventDefault();
        loadWords(currentPage + 1);
    });

    document.addEventListener("DOMContentLoaded", () => loadWords(1));
</script>
{% endverbatim %}

{% endblock %}